




/* Css para el modulo de busqueda */

#result-box{
	
	display: none;
}

#no-results{

	display: none;
}
#ayuda_buscar{

	margin-left: 450px;
}

#tipo{

	font-style: italic;
}

/*css para la informacion del prestador*/

#data-re-prestador{

    margin-bottom: 50px;

    margin-top: 50px;
   margin-left:0;
  }

.foto-prestador{
   width: 200px;
    
 
  }

.btn-subir-foto{

  clear:both;

  margin-top: 10px
}

  #info{
    margin-top: 20px;
  float: right;
  width:70%;
  

  }