




/* Css para el modulo de busqueda */

#result-box{
	
	display: none;
}

#no-results{

	display: none;
}
#ayuda_buscar{

	margin-left: 450px;
}

#tipo{

	font-style: italic;
}

/*css para la informacion del prestador*/

#data-re-prestador{

    width:100%;
    height:200px;

    margin-bottom: 50px;

    margin-top: 50px;
   
  }

  #foto{
    margin-top: 20px;

    float:left;
    
    margin-right: 20px;
  }


  #info{
    margin-top: 20px;
  float: right;
  width:70%;
  

  }