<!DOCTYPE html>
<html>
<head>

<style type="text/css">

#navcontainer{

	height: auto;

	width: auto;
}

#navlist {

	height: auto;
	display: inline;
	
}
#navlist li
{
display: inline;
list-style-type: none;
margin-left:50px;
width: 150px;
height:150px;

border: 1px solid black;

}


</style>
</head>
<body>



<div id="navcontainer">
<ul id="navlist">
<li><img src="smiley.gif" alt="Smiley face" height="42" width="42"></li>
<li>2dsds</li>
<li>dsdsds3</li>
<li><img src="smiley.gif" alt="Smiley face" height="42" width="42"></li>

</ul>
</div>
	


</body>
</html>