table{
		border-collapse:collapse; 
		table-layout:fixed;
	}

table td {
    	text-align: center;
		}

.about-info{
			height: auto;
			width: 100px;
			font-style: bold;
	}

#tabla-header {
	display: inline-block;
	margin-bottom: 40px;
}

#firmas {
	text-align: center;
	margin-top:130px;
	width:auto;
}

#firmas div {
	margin-top: 50px;
}

