
table{
		border-collapse:collapse; 
		table-layout:fixed;
	}
table td {
    	text-align: center;
    	margi
		}

.about-info{
			height: auto;
			width: 100px;
			font-style: bold;
	}

#tabla-header {
	text-align: center;
	margin-bottom:20px;
	font-weight: bold;
}