.toast-title {
    font-weight: bold;
}
.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.toast-message a, .toast-message label {
    color: #fff;
}
.toast-message a:hover {
    color: #ccc;
    text-decoration: none;
}
.toast-close-button {
    position: relative;
    right: -.3em;
    top: -.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}
.toast-close-button:hover, .toast-close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
#toast-container {
    margin-top: 100px;
    position: fixed;
    z-index: 999999;
}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container>div {
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}
#toast-container>:hover {
    -moz-box-shadow: 0 0 12px #000;
    -webkit-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}
#toast-container>.toast-info {
    background-image: url("images/info.png")!important;
}
#toast-container>.toast-error {
    background-image: url("images/error.png")!important;
}
#toast-container>.toast-success {
    background-image: url("images/success.png")!important;
}
#toast-container>.toast-warning {
    background-image: url("images/warning.png")!important;
}
#toast-container.toast-top-full-width>div, #toast-container.toast-bottom-full-width>div {
    width: 96%;
    margin: auto;
}
.toast {
    background-color: #030303;
}
.toast-success {
    background-color: #51a351;
}
.toast-error {
    background-color: #bd362f;
}
.toast-info {
    background-color: #2f96b4;
}
.toast-warning {
    background-color: #f89406;
}
@media all and (max-width:240px) {
    #toast-container>div {
    padding: 8px 8px 8px 50px;
    width: 11em;
}
#toast-container .toast-close-button {
    right: -.2em;
    top: -.2em;
}
}@media all and (min-width:241px)and (max-width:480px) {
    #toast-container>div {
    padding: 8px 8px 8px 50px;
    width: 18em;
}
#toast-container .toast-close-button {
    right: -.2em;
    top: -.2em;
}
}@media all and (min-width:481px)and (max-width:768px) {
    #toast-container>div {
    padding: 15px 15px 15px 50px;
    width: 25em;
}
}